@media only screen and (max-width:992px) {

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*start nav*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height:56px;
    width:100%;
    top: 0;
    position: sticky;
    box-shadow: 0px 1px 3px #ccc;
    padding: 8px 13px 0px 13px;
    z-index: 3;
}
.nav-left {
    display:flex;
}
.nav-left .fa-facebook{
    color:  #1877f2;
    font-size:40px;
}
.search {
    position: relative;
}
.search .fa-search {
    color: rgb(103, 99, 99);
    position:absolute;
    font-size: 15px;
    left:15px;
    top: 12px;
}
.search input {
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    border-radius:50px;
    padding: 7px 16px 9px 36px;;
    height:40px;
    font-size:15px;
    color: #606770;
}
/* nav middle */
.nav-middle {
    display: flex;
    align-items: flex-end;
}
.nav-middle a {
    color: #65676b;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius:8px;
}
.nav-middle a:hover {
    background-color:  rgba(0, 0, 0,0.05);
}
.nav-middle .important {
    color: #1877f2;
    border-bottom: 3px solid #1877f2;
    border-radius:0%;
}
.nav-middle .important:hover {
    background-color:white;
}
/*nav-right*/
.nav-right  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}
.nav-right .profile {
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 2px 10px 2px 2px;
    border-radius: 8px;
}
.nav-right .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav-right .profile p{
    color:#050505 ; 
    font-size: 15px;
    margin-left: 5px;
}
.nav-right a {
    color: #050505;
    background-color: #e4e6eb;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
}
/*end nav*/
/*start section*/
/*start left-section*/
.all {
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5
}
.left {
    display: flex;
    position: sticky;
    overflow: hidden;
    height: 100vh;
    left:0;
    top: 56px;
    width: 350px;
}
.left:hover {
    overflow: scroll;
}
.user {
    border-radius: 50%;
}
.left ul li {
    display: flex;
    align-items:center;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}
.left img {
    width:35px;
    height: 35px;
    padding-right: 5px;
}
.left p{
    color:#050505; 
    font-size: 15px;
    font-weight: bold;
}
/*end left-section*/
/*start right section*/
.right {
    background-color:#f0f2f5;
    height:100vh;
    overflow:hidden;
    position: sticky;
    right: 0;
    top:56px;
    padding: 20px;
    width: 300;
}
.right:hover {
    overflow: scroll;
}
.sponser div {
    display: flex;
    align-items:center;
    padding: 5px 50px 5px 5px;
    margin-top: 20px;
    border-radius: 8px;
}
.sponser p {
    color: #65676b;
    font-size: 20px;
    margin-top: 10px;
}
.sponser div img {
    border-radius: 8px;
    width: 120px;
    height: 90px;
}
.sponser h3{
    margin-left: 10px;
    margin-right: 30px;
    width:50px;
    font-size: 15px;
}

.con1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.con1 p {
    font-size:18px;
    color: #65676b;
}
.con1 i {
    margin: 0px 5px;
    color: #65676b;
}
  
.con2 li {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    padding: 10px;
}
.con2 img {
    width: 30px;
    height: 30px;
    border-radius:50%;
}
.con2 p {
    color: #65676b;
    margin-left: 5px;
}
.con2 li:hover {
    background-color: rgba(0, 0, 0,0.05);
}
/*end right section*/
/*start middle section*/
/*start container*/
.mid {
    padding: 0px 70px;
    position:sticky;
    width: 58%;
}
.container {
    display: flex;
    margin-top: 20px;
}
.first-pic {
    width: 100%;
    height:200px;
    background-color:white;
    position: relative;
    overflow: hidden;
    border-radius:10px;
    box-shadow: 0 0 5px 5px #ddd;
}
.first-pic img {
    width:100%;
    height:140px;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
}
.first-pic i {
    position: absolute;
    color:white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1877F2;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 18px;
    padding: 7px;
    object-fit: cover;
}
.first-pic p {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color:black;
}
.relative-pic {
    width: 100%;
    height:200px;
    background-color:white;
    position: relative;
    margin-left: 7px;
    border-radius:10px;
    box-shadow: 0 0 5px 5px #ddd;
}
.small {
    position:absolute;
    top: 11px;
    left: 16px;
    width:40px;
    height:40px;
    border-radius: 50%;
    z-index: 2;
    border: solid 4px #1877F2;
}
.repeated {
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.relative-pic p {
    color: white;
    font-size:13px;
    position:absolute;
    bottom:10px;
    left:8px;
    font-weight: bold;
}
/*end container*/
/*start mind*/
.mind {
    position: relative;
    background-color:white;
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
}
.search-img {
    display: flex;
}
.search-img img {
    width: 35px;
    height:35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.search-img input {
    outline: none;
    width: 600px;
    border: none;
    border-radius: 50px;
    background:#f0f2f5;
    padding: 10px;
}
.search-img input:hover {
    background-color:rgba(0, 0, 0,0.1);
} 
.mind hr {
    background-color:rgb(190, 189, 189);
    margin-top:15px;
}
/*end mind*/
/*start bottom*/
.bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.fa-video{
    color: #f3425f;
}
.fa-images{
    color: #45bd62;
}
.fa-laugh{
    color: #f7b928;
}
.bottom i {
    font-size: 25px;
    margin-right: 10px;
}
.bottom .group {
    display: flex;
    padding: 5px;
}
.group .caption {
    text-decoration: none;
    margin:5px 0 0 0px;
    color:rgb(94 94 94);
}
.bottom .group:hover {
    background-color: rgba(0, 0, 0,0.05);
    border-radius: 10px;
}
/*end bottom*/
/*start posts*/
.posts {
    position: relative;
    background-color:white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    padding:20px 20px 5px 20px;
}
.picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.image10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image10 img {
    width: 50px;
    height:50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -10px;
}
.txt p {
    font-size:12px;
    color:rgb(94 94 94);
}
.posts p{
    margin: 5px 0px;
}

.post img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
}
.posts hr {
    background-color:#898e94;
    margin-top:15px;
}
.react {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.react div {
    display: flex;
}
.react i {
    margin-top:15px;
    margin-right: 10px;
    color: #898e94;

}
.react p {
    color: #898e94;
    margin-top: 15px;
}
/* end posts */
/* start Regester */
.register {
    height: 100vh;
    overflow: hidden;
    padding: 200px 200px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5
}
.text10 {
    width: 500px;
    margin-left:150px;
}
.text10 img {
    width: 300px;
    margin-left: -30px;
}
.password {
    width:400px;
    height: 220px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
}
.password input {
    width: 100%;
    height: 50px;
    border-color: 1px solid #f0f2f5;
    outline: none;
    border-radius:10px;
    padding: 5px 20px;
    margin-bottom: 10px;
    color:rgb(156, 154, 154);
    font-size: 18px;
}
.password .submit {
    color: white;
    background-color:#1877f2;
    font-size:25px;
    border: none;
}
.password input:hover {
    border-color:#1877f2;
}
.password .submit:hover {
    background-color: #4267b2;
}
